extends baseEmail

block content
    p Hello #{firstName},
    p Thanks for contacting me, i notice that you want to talk about this: #{topic}
    p Just to confirm, i received your email and i will anwser your email as soon as possible.